@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #0FC2C0, #008F8C );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #005552;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #014241;
    text-shadow: 1px 1px 2px #012423;
}

h2 {
    color: #04788d;
}

p {
    text-align: justify;
}