@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 20px;
}

h1 {
    color: #03724d;
    font:  2.5em Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: #03724d;
    color: white;
    font: bold 3em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #944335;
}
p {
    text-align: justify;
    text-indent: 30px;
}

p#diferent {
    text-align: right;
    font-size: 1.2em;
}

.lista {
    text-decoration: underline;
    background-color: #944335;
    color: white;
}