@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Italianno&display=swap');

@font-face {
    font-family: android;
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
}


:root {
    --cor0: #ebe5c5;
    --cor1: #41da86;
    --cor2: #3b9642;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor-destaque: #b2ffb2;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-especial: 'Bebas Neue', cursive;
    --fonte-android: 'android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor5);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: var(--fonte-especial);
    height: auto;
    width: auto;
    padding: 20px;
    margin: auto;
}

header > h1 {
    font:  3em var(--fonte-especial);
    text-align: center;
    color: white;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px #0000009c;
}

header > p {
    font:  1.2em var(--fonte-padrao);
    text-align: center;
    color: white;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px 0px #0000006e;
    padding: 20px;
}

nav {
    background-color: var(--cor5);
    margin: auto;
    width: auto;
    height: auto;
    padding: 10px;
    min-width: none;
}

nav > a {
    color: var(--cor2);
    margin: auto;
    padding: 10px;
    text-shadow: 1px 1px 0px #00000031;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 7px;
    text-shadow: none;
}

main {
    height: auto;
    width: auto;
    margin: auto;
    background-color: var(--cor0);
    padding-bottom: 20px;
}

section {
    background-color: white;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    box-shadow: #414141;
    max-width: 900px;
    min-width: none;
    box-shadow: 0px 0px 10px #00000048;
}

main > section > article {
    background-color: white;
    color: black;
    font: 1em var(--fonte-padrao);
    height: auto;
    width: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: block;
    margin: auto;
}

main  h1 {
    font: 2em var(--fonte-android);
    color: var(--cor5);
    margin: 0px 10px;
    padding: 10px;
}

h2 {
    font: 1.5em var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    margin: 10px;
    text-indent: 10px;
}

main p {
    font-size: 1em;
    color: #2e2e2e;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
}

.mark {
    background-color: var(--cor-destaque);
    color: var(--cor5);
    text-decoration: none;
}

.mark:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor-destaque);
    margin: 20px;
    border-radius: 7px;
    color: #000000;
    font-size: 0.8em;
    padding-bottom: 10px;
    box-shadow: 3px 3px 6px #00000070;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    font: 1.5em var(--fonte-padrao);
    border-radius: 7px 7px 0px 0px;
    text-indent: 10px;
    padding: 7px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > p {
    margin: 10px;
}

main a {
    text-decoration: none;
    color: var(--cor5);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

footer {
    font-family: var(--fonte-padrao);
    text-align: center;
    background-color: var(--cor5);
    color: white;
    text-decoration: none;
    padding: 5px;
}

.footer {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}