p {
            text-align: center;
            font-size: 19px;
            font-family: 'Times New Roman', Times, serif;
        }
        body{
            background-color: rgba(8, 137, 241, 0.945);
        }
        h1 {
            font-size: 35px;
            font-family: Arial Black;
            color: rgb(36, 36, 241);
            background-color: rgba(244, 244, 248, 0.705);
        }
        h2 {
            font-size: 28px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(252, 136, 3);
        }